        @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

        body {
            font-family: 'Alfa Slab One', cursive;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(135deg, #8F422A, #6E2C1B);
            color: #FFD700;
            text-align: center;
            margin: 0;
        }
        .container {
            background: #d19c7c;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            max-width: 600px;
            border: 5px solid #5C2E1A;
        }
        h1 {
            font-size: 28px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        }
        p {
            font-size: 18px;
        }
/* Ajout du style pour le logo */
        .logo-container {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1000;  /* Le logo sera au-dessus du reste du contenu */
        }

        .logo {
            width: 100px;  /* Taille du logo */
            height: auto;
        }

        /* Assurez-vous que le logo reste visible sur tous les appareils */
        @media (max-width: 768px) {
            .logo {
                width: 40px;  /* Taille réduite sur les petits écrans */
            }
        }
