body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: linear-gradient(135deg, #8F422A, #9b4d33);
            color: white;
            text-align: center;
            margin: 0;
        }
        .container {
            background: #d19c7c;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            max-width: 600px;
        }
        h1 {
            font-size: 24px;
        }
